:root {
	/* Colors */
	/*60 30 10 rule*/
	/*60% Primary domain color ie. backgrounds*/
	/*30% Typography*/
	/*10% Bright Vibrant color to grab attention*/
	/* Primary color tint and shades */
	--cl-primary-lightest: #f9ded3;
	--cl-primary-lighter: #e8794e;
	--cl-primary: #e25822;
	--cl-primary-darker: #9e3e18;
	--cl-primary-darkest: #2d1207;
	/* Accent color tint and shades */
	--cl-secondary-lightest: #d3eef9;
	--cl-secondary-lighter: #4ebde8;
	--cl-secondary: #22ace2;
	--cl-secondary-darker: #1b8ab5;
	--cl-secondary-darkest: #07222d;

	--cl-grey-light: #f1f2f2;
	--cl-grey: #77787c;
	--cl-grey-dark: #303032;

	/*Extra Colors*/
	--cl-white: #ffffff;
	--cl-black: #000000;
	/*Background*/
	--background: linear-gradient(
		to bottom right,
		var(--cl-primary-lighter),
		60%,
		var(--cl-primary)
	);

	/* --background: radial-gradient(
		circle,
		var(--cl-primary-lightest) 0%,
		var(--cl-primary-darker) 100%
	); */

	/* Font Size */
	--font-size-xs: 1.2rem;
	--font-size-s: 1.4rem;
	--font-size-normal: 1.8rem;
	--font-size-l: 2.2rem;
	--font-size-xl: 2.6rem;
	--font-size-xxl: 3.1rem;
	--font-size-xxxl: 4.5rem;
	/*Image Sizes*/
	--img-xs: 8rem;
	--img-s: 16rem;
	--img-m: 24rem;
	--img-l: 28rem;
	/*Spacing Sizes*/
	--space-xxs: 1.2rem;
	--space-xs: 1.6rem;
	--space-s: 2.4rem;
	--space-m: 3.2rem;
	--space-l: 4rem;
	--space-xl: 4.8rem;
	--space-xxl: 5.6rem;
	/*Border Radius*/
	--br-s: 0.8rem;
	--br-m: 1.6rem;
	--br-l: 2.4rem;
}
