.button {
    border-radius: 10px;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--color-white);
    color: #000000;
    font-weight: 600;
    height: fit-content;
    cursor: pointer;
}

.button:hover, .button:focus {
    background-color: var(--color-grey);
    color: #ffffff;
}

.add-button {
    border: 1px var(--color-grey) solid;
}

/* Form to add or edit forms */
/* .add-edit-form {
    z-index: -1;
    border: 1px var(--color-black) solid;
    border-radius: 10px;
    background-color: var(--color-white);
    color: var(--color-grey);
} */