.card {
    background-color: var(--color-secondary);
    cursor: pointer;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
    width: 185px;
    transition: transform 0.25s ease-in-out;
    box-shadow: 2px 4px 4px 2px rgb(75 75 75 / 75%);
}

.card:hover {
    transform: scale(1.05);
}

.card .card-title {
    font-size: 22px;
}

.card .card-body ul {
    padding: 0;
}

.card .card-body ul p {
    font-weight: 750;
}

.card .card-body ul>li {
    align-items: center;
    list-style: none;
}