/* .content {
	width: 75%;
	margin: 0 auto;
	min-height: 100%;
}

.content_heading {
	text-transform: uppercase;
}

.content_body_section {
	background: var(--cl-white);
	border-radius: var(--br-s);
}

.content_body {
	position: relative;
} */
