.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
    gap: 5rem;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.flex > .col-top {
    align-content: flex-start;
}

.flex > .col-center {
    align-content:center;
}

.col-right > * {
    float: right;
}