.footer {
	color: var(--color-black-pure);
	background-color: var(--color-grey-light);
}

	.footer a {
		color: var(--color-black-pure);
		text-decoration: none;
	}

	.footer a:hover {
		text-decoration: underline;
	}

.footer-logo_img {
	height: var(--logo-img-small);
	
}

	.footer-logo_img:hover {
		animation: 1.5s rotate-logo linear infinite;
	}