.page {
    height: 85vh;
    overflow-y: scroll;
    background-color: var(--color-white-pure);
}

    .page > .page-heading {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
        padding: var(--padding-small);
    }

    .page > .page-content {
        padding-right: var(--padding-medium);
        padding-left: var(--padding-medium);
    }

        .page > .page-content > .page-content_section:not(:last-child) {
            margin-bottom: 4rem;
        }