:root {
    --color-black: #2E3138;
    --color-grey: #898889;
    --color-primary: #BB7743;
    --color-primary-rgb: 187, 119, 67;
    --color-primary-light: #C99369;
    --color-primary-light-rgb: 201, 147, 105;
    --color-secondary: #55868C;
    --color-white: #E4DFDA;
    --border-radius: .5rem;
    --logo-width-offset: 5rem;
    --logo-height-offset: 5rem;
}
