.modal-header {
    background-color: var(--color-grey);
    color: #FFFFFF;
    padding: 1rem;
}

.modal-close {
    float: right;
}

    .modal-close:hover {
        cursor: pointer;
        color: var(--color-black);
    }

.modal-title {
    font-size: 2rem;
    margin: 0;
}