.p-s {
    padding: var(--space-m);
}

.p-y-s {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
}

.p-x-s {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
}

.p-m {
    padding: 5rem;
}

.p-y-m {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.p-x-m {
    padding-right: 5rem;
    padding-left: 5rem;
}

.p-l {
    padding: var(--space-xl);
}

.p-y-l {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
}

.p-x-l {
    padding-right: var(--space-xl);
    padding-left: var(--space-xl);
}

/*Margin*/
.m-s {
    margin: var(--space-m);
}

.m-y-s {
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
}

.m-x-s {
    margin-right: var(--space-m);
    margin-left: var(--space-m);
}

.m-m {
    margin: 5rem;
}

.m-y-m {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.m-x-m {
    margin-right: 5rem;
    margin-left: 5rem;
}

.m-l {
    margin: var(--space-xl);
}

.m-y-l {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
}

.m-x-l {
    margin-right: var(--space-xl);
    margin-left: var(--space-xl);
}
