body {
    font-family: "Roboto", sans-serif;
    color: var(--cl-grey-dark);
}

h1 {
    font-size: var(--font-size-xxxl);
}

h2 {
    font-size: var(--font-size-xxl);
}

h1, h2 {
    font-weight: 800;
    line-height: 1.4;
}

h3 {
    font-size: var(--font-size-xl);
}

h4 {
    font-size: var(--font-size-l);
}

h3, h4 {
    font-weight: 650;
    line-height: 1.6;
}

h5 {
    font-size: var(--font-size-normal);
    font-weight: 500;
    font-style: italic;
    line-height: 1.8;
}

p {
    font-size: var(--font-size-normal);
    font-weight: 400;
    line-height: 1.8;
}


small {
    font-size: var(--font-size-s);
    line-height: 2;
}