.loading-screen {
    height: 100vh;
    overflow:hidden;
}

.loading-text {
    font-size: 2.4rem;
    position: absolute;
    top: 50%;
    right: 50%;
    animation: heart-beat 2s ease infinite;
    background: rgba(C1, C1, C1, .5)
}

@keyframes heart-beat{
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}