.container {
    height:100vh;
    background-color: var(--color-white);
    margin-left: 10%;
    margin-right: 10%;
}


.container-banner {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.container-body {
    padding: 1em 4.5em;
}

/*.flex-container {
    display: flex;
    justify-content: space-between;
}*/
