.card {
    width: 15rem;
    background-color: var(--color-secondary);
    padding: var(--padding-small);
    margin: .5rem;
    border-radius: 1.5rem;
    height: 20rem;
    box-shadow: .25rem .25rem 1rem var(--color-black-pure);
    cursor: pointer;
}
.card-header {
    margin-bottom: var(--margin-small)
}

    .card * {
        color: var(--color-white-pure);
        font-size: var(--default-font-size);
    }

    .card:hover {
        transform: translateY(-.15rem);
        box-shadow: .30rem .30rem 1.1rem var(--color-black-pure);
    }

    .card:active {
        transform: translateY(0);
        box-shadow: .15rem .15rem .9rem var(--color-black-pure);
    }

