.loading {
    min-height: 85vh;
}

    .loading > .loading-text {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: heartbeat 1.5s ease-in-out infinite;
    }